.style_none {
    list-style: none;
    padding: 15px 0px;
}

.p0{
    padding: 0px;
}

.contury {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
}

.result {
    font-size: 22px;
}

.mt16 {
    margin-top: 16px;
}

.time {
    font-size: 13px;
    color: #000000;
}

.ing {
    display: inherit;
    font-size: 13px;
}

.p0 {
    padding-top: 0;
}

.banner {
    height: 200px;
}


.game_1 {
    padding: 18px;
}

.quizzes-choice-item {
    width: 88px;
    height: 56px;
    /* border-radius: 50%; */
    border: 1px solid gray;
    display: inline-block
}

.sports-line:before{
    border-top:0px;
}
.sports-line{
    /*border-bottom:0px;*/
    padding-bottom: 0px;
}