<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/game.css" />
    <title>赛事详情</title>
</head>
<style>
    .mui-control-content {
        background-color: white;
        min-height: 215px;
    }
    .mui-control-content .mui-loading {
        margin-top: 50px;
    }
</style>

<body>

    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">赛事</h1>
    </header>

    <div class="mui-content">

        <div class="game-item">

        </div>


        <div class="mui-card game-card-tab" style="display:none;">
            <!--页眉，放置标题-->
            <div class="mui-card-header mui-card-media">
                <div class="mui-row">
                    <div class="mui-col-sm-4">
                        <li class="mui-table-view-cell game-card-tab-item mui-active" tab-item="guess-items">
                            <img src="images/button/quiz_press@3x.png"></img>
                            竞猜   
                        </li>
                    </div>
                    <div class="mui-col-sm-4">
                        <li class="mui-table-view-cell  game-card-tab-item game-card-tab-item-myself" tab-item="myself-items">
                            <img src="images/button/mine_press@3x.png"></img>
                            我的
                        </li>
                    </div>

                    <div class="mui-col-sm-4">
                        <li class="mui-table-view-cell game-card-tab-item" tab-item="friends-items">
                            <img src="images/button/friends@3x.png"></img>
                            好友的
                        </li>
                    </div>
                </div>
            </div>
            <!--内容区-->
            <div class="mui-card-content game-card-content">

                    <div class="game-card-content-item" id="guess-items">
                    </div>
                    <div class="game-card-content-item hide" id="myself-items">
                    </div>
                    <div class="game-card-content-item hide" id="friends-items">
                    </div>
            </div>
        </div>


        <!-- 投注 -->
        <div class="bet-theme-popover" id="bet_banner">
            <div class="game-bet-header">
                <!--<a href="javascript:void(0);" title="关闭" class="close">×</a>-->
                <span id="game-bet-name"></span>
                <span class="game-bet-rule">投注规则 > </span>
            </div>
            
            <div class="theme-popbod dform game-bet-body">
                <div class="mui-row">
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <li class="mui-table-view-cell game-bet-change-money" bet-money="100">
                            <span class="game-bet-money">
                                <p>100QB</p>
                            </span>
                        </li>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <li class="mui-table-view-cell game-bet-change-money" bet-money="200">
                            <span class="game-bet-money">
                                <p>200QB</p>
                            </span>
                        </li>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <li class="mui-table-view-cell game-bet-change-money" bet-money="300">
                            <span class="game-bet-money">
                                <p>300QB</p>
                            </span>
                        </li>
                    </div>

                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <li class="mui-table-view-cell game-bet-change-money" bet-money="500">
                            <span class="game-bet-money">
                                <p>500QB</p>
                            </span>
                        </li>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <li class="mui-table-view-cell game-bet-change-money" bet-money="1000">
                            <span class="game-bet-money">
                                <p>1000QB</p>
                            </span>
                        </li>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <li class="mui-table-view-cell game-bet-change-money" bet-money="2000">
                            <span class="game-bet-money">
                                <p>2000QB</p>
                            </span>
                        </li>
                    </div>
                </div>
                
                <div class="game-bet-item">赔率：
                    <span id="game-bet-odds"></span>
                </div>
                <div class="game-bet-item">猜对获得：
                    <span id="game-bet-reward"></span>
                </div>
                <button type="button" class="mui-btn mui-btn-primary" id="game-quizz-bet">立刻投注</button>
            </div>
        </div>
        <div class="theme-popover-mask" id="bet_bgc"></div>
            
    </div>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/mui/3.7.1/js/mui.js"></script>
    <script type="text/javascript" src="./js/game.js"></script>


    <script id="game-item-tpl" type="text/x-jQuery-tmpl">

        <div class="mui-card" game_id="${id}">
            <!--页眉，放置标题-->
            <div class="mui-card-header mui-card-media">
                <span class="mui-media-object mui-pull-left mui-badge mui-badge-danger">世界杯</span>
                <div class="mui-media-body sport-game-item-desc">
                    ${description}
                </div>
            </div>
            <!--内容区-->
            <div class="mui-card-content">
                <div class="mui-row">
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <span class="team-item-header">
                            <img src="${home_team.logo}" alt="">
                        </span>
                        <span class="team-item-body">${home_team.name}</span>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <ul class="mui-table-view">
                                {{if status == 0}}
                            <li class="mui-table-view-cell">${begin}</li>
                            <li class="mui-table-view-cell">竞猜中</li>
                            {{/if}} {{if status == 1}}
                            <li class="mui-table-view-cell">${home_score} : ${visit_score}</li>
                            <li class="mui-table-view-cell">比赛中</li>
                            {{/if}} {{if status == 2}}
                            <li class="mui-table-view-cell">${home_score} : ${visit_score}</li>
                            <li class="mui-table-view-cell">已结束</li>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <span class="team-item-header">
                            <img src="${visit_team.logo}" alt="">
                        </span>
                        <span class="team-item-body">${visit_team.name}</span>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script id="game-quizz-tpl" type="text/x-jQuery-tmpl">
        <div class="game-quizz-header">
            <span> <img src="images/icon/ranking@2x.png"></img></span>
            <span class="game-quizz-header-title">${instruction}</span>&nbsp;
            <span class="game-quizz-header-desc">(90分钟内的赛果)</span>
        </div>
        <div class="mui-row quizzes-choice-items" quizzes-id="${id}">
            
            {{each choice_opt}} 
            <div class="mui-col-sm-4 mui-col-xs-4">
                <li class="mui-table-view-cell style_none" style="padding-top:2px;padding-bottom:2px;">
                    <span class="quizzes-choice-item" quizzes-choice-item-name="${name}" 
                    quizzes-choice-item-odds="${odds}" quizzes-choice-item-id="${id}">
                        <p>${name}</p>
                        <p>${odds}</p>
                    </span>
                </li>
            </div>
            {{/each}}
        </div>
    </script>


    <script id="game-quizz-my-tpl" type="text/x-jQuery-tmpl">
        <div class="game-quizz-my-item">
            <!-- 记录1 -->
            <div class="game-quizz-my-header">
                {{if result == 0}}
                <span class="game-quizz-my-status wait">待开奖</span>
                {{/if}}
                {{if result == 1}}
                <span class="game-quizz-my-status success">猜对</span>
                {{/if}}
                {{if result == 2}}
                <span class="game-quizz-my-status failed">猜错</span>
                {{/if}}
                <span class="game-quizz-header-title">${quizzes.instruction}</span>
                <span class="game-quizz-header-time">${created}</span>
            </div>
            <div class="mui-row">
                <div class="mui-col-sm-4 mui-col-xs-4 game-quizz-my-choice-item">
                    <li class="mui-table-view-cell style_none">
                        <span class="game-quizz-item" style="border-left:0px;">
                            <p>我猜</p>
                            <p>${choice_opt.name}</p>
                        </span>
                    </li>
                </div>
                <div class="mui-col-sm-4 mui-col-xs-4 game-quizz-my-choice-item">
                    <li class="mui-table-view-cell style_none">
                        <span class="game-quizz-item">
                            <p>投注</p>
                            <p>${money}QB</p>
                        </span>
                    </li>
                </div>
                <div class="mui-col-sm-4 mui-col-xs-4 game-quizz-my-choice-item">
                    <li class="mui-table-view-cell style_none">
                        <span class="game-quizz-item">
                            <p>赔率</p>
                            <p>${choice_opt.odds}</p>
                        </span>
                    </li>
                </div>
            </div>
            {{if result == 1}}
            <div class="win">
                获得${reward}QB
            </div>
            {{/if}}
        </div>
    </script>

    <script>
		
	</script>
</body>

</html>