<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <title>我猜</title>
</head>

<body>
    <header class="mui-bar mui-bar-nav aui-header b-line">
        <h1 class="mui-title">我猜</h1>
    </header>
    <div class="mui-content" id="game-items">

    </div>


    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" href="#">
            <span class="mui-icon iplay-icon-home">
            </span>
            <span class="mui-tab-label">我猜</span>
        </a>
        <a class="mui-tab-item" href="sports.html">
            <span class="mui-icon iplay-icon-event"></span>
            <span class="mui-tab-label">赛事</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon iplay-icon-mine"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>


    <script type="text/javascript" src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

    <script type="text/javascript" charset="utf-8">
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
        $("#owner").click(function () {
            var user_id = parseInt($.cookie('user_id'));
            if (user_id == 0) {
                window.location.href = "login.html";
                return;
            }
        })

    </script>
    <script id="game-noitem-tpl" type="text/x-jQuery-tmpl">
        <div class="mui-card  sport-item">
            <!--页眉，放置标题-->
            <div class="mui-card-header mui-card-media">
                <span class="mui-media-object mui-pull-left" style="color:black;">暂无记录</span>
            </div>
        </div>
    </script>
    <script id="game-item-tpl" type="text/x-jQuery-tmpl">
        <div class="mui-card sport-item" game_id="${game.id}">
            <!--页眉，放置标题-->
            <div class="mui-card-header mui-card-media">
                <span class="mui-media-object mui-pull-left mui-badge mui-badge-danger">世界杯</span>
                <div class="mui-media-body game-item-desc">
                    ${game.description}
                </div>
            </div>
            <!--内容区-->
            <div class="mui-card-content">
                <div class="mui-row">
                    <div class="mui-col-sm-3 mui-col-xs-3">
                        <li class="mui-table-view-cell style_none">
                            <span class="ing">${game.begin}</span>
                        <!-- <span class="faqizhe">我发起的</span>-->
                        </li>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3">
                        <span class="team-item-header">
                            <img src="${game.home_team.logo}" alt="">
                        </span>
                        <span class="team-item-body">${game.home_team.name}</span>
                    </div>
                    <div class="mui-col-sm-3 mui-col-xs-3">
                        <ul class="mui-table-view">
                            {{if game.status == 0}}
                            <li class="mui-table-view-cell">竞猜中</li>
                            {{/if}} {{if game.status == 1}}
                            <li class="mui-table-view-cell">${game.home_score} : ${game.visit_score}</li>
                            <li class="mui-table-view-cell">比赛中</li>
                            {{/if}} {{if game.status == 2}}
                            <li class="mui-table-view-cell">${game.home_score} : ${game.visit_score}</li>
                            <li class="mui-table-view-cell">已结束</li>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3">
                        <span class="team-item-header">
                            <img src="${game.visit_team.logo}" alt="">
                        </span>
                        <span class="team-item-body">${game.visit_team.name}</span>
                    </div>
                </div>
            </div>

            <!-- 记录1 -->
            {{each quizzes}} 
            <div class="game-quizz-my-item">
                <!-- 记录1 -->
                <div class="game-quizz-my-header">
                    {{if result == 0}}
                    <span class="game-quizz-my-status wait">待开奖</span>
                    {{/if}}
                    {{if result == 1}}
                    <span class="game-quizz-my-status success">猜对</span>
                    {{/if}}
                    {{if result == 2}}
                    <span class="game-quizz-my-status failed">猜错</span>
                    {{/if}}
                    <span class="game-quizz-header-title">${quizzes.instruction}</span>
                    <span class="game-quizz-header-time">${created}</span>
                </div>
                <div class="mui-row">
                    <div class="mui-col-sm-4 mui-col-xs-4 game-quizz-my-choice-item">
                        <li class="mui-table-view-cell style_none">
                            <span class="game-quizz-item" style="border-left:0px;">
                                <p>我猜</p>
                                <p>${choice_opt.name}</p>
                            </span>
                        </li>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4 game-quizz-my-choice-item">
                        <li class="mui-table-view-cell style_none">
                            <span class="game-quizz-item">
                                <p>投注</p>
                                <p>${money}QB</p>
                            </span>
                        </li>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4 game-quizz-my-choice-item">
                        <li class="mui-table-view-cell style_none">
                            <span class="game-quizz-item">
                                <p>赔率</p>
                                <p>${choice_opt.odds}</p>
                            </span>
                        </li>
                    </div>
                </div>
                {{if result == 1}}
                <div class="win">
                    获得${reward}QB
                </div>
                {{/if}}
            </div>
<!--
            <div class="mui-card-content game_1 game-quizz-items">
                <div class="mui-content" style="border-top: 1px solid #ccc; padding-top:5px;">
                    <div class="tittle">
                        <span class="zhuangtai wait">待开奖</span>
                        <span class="result">${quizzes.instruction}</span>&nbsp;
                        <i style="float:right;"></i>
                    </div>
                    <div class="mui-row">
                        <div class="mui-col-sm-4 mui-col-xs-4">
                            <li class="mui-table-view-cell style_none">
                                <span class="game-quizz-item" style="border-left:0px;">
                                    <p>我猜</p>
                                    <p>${choice_opt.name}</p>
                                </span>
                            </li>
                        </div>
                        <div class="mui-col-sm-4 mui-col-xs-4">
                            <li class="mui-table-view-cell style_none">
                                <span class="game-quizz-item">
                                    <p>投注</p>
                                    <p>${money}QB</p>
                                </span>
                            </li>
                        </div>
                        <div class="mui-col-sm-4 mui-col-xs-4">
                            <li class="mui-table-view-cell style_none">
                                <span class="game-quizz-item">
                                    <p>赔率</p>
                                    <p>${choice_opt.odds}</p>
                                </span>
                            </li>
                        </div>
                    </div>
                    <div class="win">
                            获得185QB
                        </div>
                </div>
            </div>
        -->
            {{/each}}
        </div>
    </script>
    <script>

        $(function () {

            function load() {
                var user_id = parseInt($.cookie('user_id'));
                if (user_id == 0) {
                    showLogin()
                    return;
                }

                var params = {
                    "auth_token": $.cookie('auth_token'),
                    "user_id": user_id
                };
                var url = "http://35.180.103.230:8080/v1/user/quizzes_list";

                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(params),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        console.log(res)
                        if (res.code == 501) {
                            showLogin()
                        } else if (res.code == 200) {
                            for(var i in res.data){
                                res.data[i].game.begin = res.data[i].game.begin.slice(5,16)
                            }
                            showQuizzes(res.data)
                        }
                    }
                });
            }

            function showLogin() {
                $("#game-noitem-tpl").tmpl().appendTo("#game-items");
            }

            function showQuizzes(datas) {
                if (datas && datas.length > 0) {
                    $("#game-item-tpl").tmpl(datas).appendTo("#game-items");
                } else {
                    $("#game-noitem-tpl").tmpl().appendTo("#game-items");
                }
            }

            $("#game-items").on("click", ".sport-item", function () {
                var game_id = $(this).attr("game_id");
                console.log(game_id)

                $(location).attr('href', 'game.html?game_id=' + game_id);
            })
            load();
        })



    </script>

</body>

</html>