<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/sports.css" />

    <title>赛事</title>
</head>

<body>

    <header class="mui-bar mui-bar-nav aui-header b-line">
        <h1 class="mui-title">赛事</h1>
    </header>
<!--
    <div id="pullrefresh" class="mui-content">
        <div class="banner">
            <div class="banner-text">竞猜即挖矿</div>
        </div>
        <div id="game-items">
          
        </div>
    </div>
-->
    
    <div class="mui-content">
         <div class="banner">
            <div class="banner-text">竞猜即挖矿</div>
        </div>
        <div class="mui-card mui-card-type">
            <!--页眉，放置标题-->
            <div class="mui-card-content" >
                <div class="mui-card-content-type">
                    <span class="mui-input-row mui-radio">
                        <label>全部</label>
                        <input name="game_type" type="radio" checked>
                    </span>
                    <span class="mui-input-row mui-radio">
                        <label>足球</label>
                        <input name="game_type" type="radio">
                    </span>
                    <span class="mui-input-row mui-radio">
                        <label>NBA</label>
                        <input name="game_type" type="radio">
                    </span>
                    <span class="mui-input-row mui-radio">
                        <label>电子竞技</label>
                        <input name="game_type" type="radio">
                    </span>
                </div>
            </div>
        </div>
        <div id="game-items-scroll mui-scroll-wrapper" >
             <div class="mui-scroll" id="game-items">
            </div>
        </div>
    </div>


    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon iplay-icon-home">
            </span>
            <span class="mui-tab-label">我猜</span>
        </a>
        <a class="mui-tab-item mui-active" href="#">
            <span class="mui-icon iplay-icon-event"></span>
            <span class="mui-tab-label">赛事</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon iplay-icon-mine"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>

    <script id="game-item-tpl" type="text/x-jQuery-tmpl">

        <div class="mui-card game-item" game_id="${id}">
            <!--页眉，放置标题-->
            <div class="mui-card-header mui-card-media">
                <span class="mui-media-object mui-pull-left mui-badge mui-badge-danger">世界杯</span>
                <div class="mui-media-body game-item-desc">
                    ${description}
                </div>
            </div>
            <!--内容区-->
            <div class="mui-card-content">
                <div class="mui-row">
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <span class="team-item-header">
                            <img src="${home_team.logo}" alt="">
                        </span>
                        <span class="team-item-body">${home_team.name}</span>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <ul class="mui-table-view">
                                {{if status == 0}}
                            <li class="mui-table-view-cell">${begin}</li>
                            <li class="mui-table-view-cell">竞猜中</li>
                            {{/if}} {{if status == 1}}
                            <li class="mui-table-view-cell">${home_score} : ${visit_score}</li>
                            <li class="mui-table-view-cell">比赛中</li>
                            {{/if}} {{if status == 2}}
                            <li class="mui-table-view-cell">${home_score} : ${visit_score}</li>
                            <li class="mui-table-view-cell">已结束</li>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <span class="team-item-header">
                            <img src="${visit_team.logo}" alt="">
                        </span>
                        <span class="team-item-body">${visit_team.name}</span>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script type="text/javascript" src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="./js/dialog.js"></script>
    <script type="text/javascript" src="./js/sports.js"></script>


    <script type="text/javascript" charset="utf-8">
        var page = new Sports();

        page.onLoad()
    </script>

</body>

</html>