<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/icons-extra.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="css/sports.css" />
    <title>赛事</title>
</head>
<style>
    .hide {
        display: none;
    }
</style>

<body>

    <header class="mui-bar mui-bar-nav aui-header b-line">
        <!--<a class=" mui-icon mui-icon-search mui-pull-left" href="search.html"></a>-->
        <h1 class="mui-title">赛事</h1>
        <!--<a class=" mui-icon mui-icon-chatbubble mui-pull-right" href="dope.html"></a>-->
    </header>

    <div class="mui-content" id="game-items">

    </div>


    <div style="height:50px"></div>
    <nav class="mui-bar mui-bar-tab">
        <div class="t-line">
            <a href="index.html" class="aui-tab-item ">
                <span class="mui-icon mui-icon-list"></span>
                <span class="mui-tab-label">我猜</span>
            </a>
            <a href="#" class="aui-tab-item mui-active">
                <span class="mui-icon mui-icon-location"></span>
                <span class="mui-tab-label">赛事</span>
            </a>
            <a class="aui-tab-item" href="chapion.html">
                <span class="mui-icon mui-icon-person"></span>
                <span class="mui-tab-label">猜冠军</span>
            </a>
            <a class="aui-tab-item" href="#">
                <span class="mui-icon mui-icon-paperclip"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </div>

    </nav>

    <script id="game-item-tpl" type="text/x-jQuery-tmpl">
        <div class="aui-hot t-line sports-line sport-item" game_id="${id}">
            <div class="mui-card mt16">
                <!--页眉，放置标题-->
                <div class="mui-card-header">
                    <div class="mui-card-header mui-card-media">
                        {{if}}
                        <span class="mui-badge mui-badge-primary">${type.Name}</span>
                        {{/if}}
                        <div class="mui-media-body">
                            ${description}
                        </div>
                    </div>
                </div>
                <!--内容区-->
                <div class="mui-card-content">
                    <!-- <a href="#"><img src="images/thanos.png" alt=""></a> -->
                    <div class="mui-content">
                        <div class="mui-row">
                            <div class="mui-col-sm-4 mui-col-xs-4">
                                <li class="mui-table-view-cell style_none">
                                    <span class="contury">
                                        <img src="${home_team.logo}" alt="">
                                        <span class="ing">${home_team.name}</span>
                                    </span>
                                </li>
                            </div>
                            <div class="mui-col-sm-4 mui-col-xs-4">
                                <li class="mui-table-view-cell style_none p0">
                                    {{if status == 0}}
                                    <span class="time">${begin}</span>
                                    <span class="ing">竞猜中</span>
                                    {{/if}}
                                    {{if status == 1}}
                                    <span class="time">${home_score} : ${visit_score}</span>
                                    <span class="ing">比赛中</span>
                                    {{/if}}
                                    {{if status == 2}}
                                    <span class="time">${home_score} : ${visit_score}</span>
                                    <span class="ing">已结束</span>
                                    {{/if}}
                                </li>
                            </div>
                            <div class="mui-col-sm-4 mui-col-xs-4">
                                <li class="mui-table-view-cell style_none">
                                    <span class="contury">
                                        <img src="${visit_team.logo}" alt="">
                                        <span class="ing">${visit_team.name}</span>
                                    </span>
                                </li>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </script>
    <script src="js/mui.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

    <script type="text/javascript" charset="utf-8">
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
     /*   
        var slider = mui("#slider");
        document.getElementById("switch").addEventListener('toggle', function (e) {
            if (e.detail.isActive) {
                slider.slider({
                    interval: 5000
                });
            } else {
                slider.slider({
                    interval: 0
                });
            }
        });
        */
        mui(document.body).on('tap', '.mui-btn', function (e) {
            mui(this).button('loading');
            setTimeout(function () {
                mui(this).button('reset');
            }.bind(this), 2000);
        });
    </script>
    <script>
        mui.init();
    </script>
    <script>

        $(function () {
            $("#game-items").on("click",".sport-item", function () {
                var game_id = $(this).attr("game_id");
                console.log(game_id)

                $(location).attr('href', 'game.html?game_id='+game_id);
            })
        })
        
        var url = "http://35.180.103.230:8080/v1/game/list";
        var data = {};
        $.ajax({
            type: "GET",
            url: url,
            data: data,
            dataType: "json",
            success: function(res){
                console.log(res)


                showSports(res.data)
            }
        });


        function showSports(datas){
            
            $("#game-item-tpl").tmpl(datas).appendTo("#game-items");
        }
    </script>



</script>


</body>

</html>